.iframe {
	width: 100%;
}


.logo {
	width: 200px;
	top: 0;
}

.bg-light {
	background-color: white !important;
}
.banner {
	position: relative;
	
}

.row {
	margin-right: 0;
}


/*@media screen and (min-width: 992px) {
	.banner {
		height: calc(100vh);
	}
}*/

.banner-image {
	height: calc(100vh - 75px);
	width: 100%;
}
.col-20 {
	flex: 0 0 20%;
	max-width: 20%;
}

.navbar {
	position: fixed;	
	width: 100%;
	z-index: 11;
	background-color: #fff;
}

.navbar-nav {
	margin-right: 45% !important; 
}
.navbar-margin {
	height: 75px;
}

.navbar-collapse {
	font-family: Microsoft JhengHei;
}

.nav-item {
	padding-top: 39px;
	font-size: 1.2rem;
	margin-left: 10px;
}


@media screen and (min-width: 375px) {


.table-bar-container {
	position: fixed;
	z-index: 11;
	top: 60px;
	right: 11px;
}

.tableBar {
	font-family: Microsoft JhengHei;
	border-radius: 0;
	margin-top: 10px;
}

.leftBar {
	background: #ffffff;
	letter-spacing: 2px;
	padding: 5px 35px;
	box-shadow: 0 0 20px 2px hsla(0,0%,64%,.2);
}

.leftbarColor{
    color: hsla(0,0%,7%,.65);
    font-family: Microsoft JhengHei;
}

.rightbarColor {
	color: #fff !important;
	padding: 0;
	font-family: Microsoft JhengHei;
}

.rightBar {
/*	margin-left: 0;*/
	background: #0066cc;
/*	margin-right: 0px;*/
	letter-spacing: 2px;
	padding: 10px 35px;
	box-shadow: 0 0 20px 2px hsla(0,0%,64%,.2);
}

#content {
	font-family: Microsoft JhengHei;
	text-align: left;
	color: #eee;
	text-shadow: 0px 2.5px 3px grey;
	position: absolute;
	bottom: 0;
	left: 10px;
	padding-bottom: 50px;
	padding-left: 20px;
}

.myStory {
	border: 3px solid #eee;
	padding: 10px 20px;
	font-size: 15px;
	color: #eee;
}

.myStory:hover {
	background-color: #eee;
	color: #666;
	font-weight: 900;
	transition: 0.5s ease-in-out;
}

#myStory {
	text-decoration: none;
}


.安居樂業 {
	font-weight: 700;
	font-size: 3em;
}

.description1 {
	font-size: 1.2em;
}

.videoButton {
	font-size: 1.2em;
	/*padding-right: 60%;*/
	padding-top: 5px;
	float: left;
}

#h4 {
/*	padding-bottom: 10px;*/
	font-size: 1rem;
}

h4 div a{
	font-family: 'Waiting for the Sunrise', cursive;
	padding-left: 255px;
	padding-top: 1.5px;
	color: #eee;
}
h4 div a:hover{
	color: #eee;
}

h4 div a:visited{
	color: #eee;
}

.content-underline {
    height: 12px;
    border: 0;
    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
    /*width: 503px;*/
    margin-right: 0%;
    margin-top: 10px;
}

.item {
	width: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 570px;
/*	margin-top: 5px;*/
	transition: 0.35s ease-in-out;
}

.title {
	font-family: Microsoft JhengHei;
	font-size: 2em;
	font-weight: 800;
	color: #333333;
	padding-left: 10px;
}

.s_intro {
	transition: 0.3s ease-in-out;
	user-select: none;
	opacity: 0;
}

#國鼎-content {
	color: #333333;
}


.section2 {
	height: 570px;
	position: relative;
	z-index: 10;
}

.整體目標與理念 {
	background-color: #404040;
	height: 500px !important;
}

.目標與理念 {
	font-family: Microsoft JhengHei;
	color: #fff;
	font-size: 2rem;
	font-weight: 800;
	margin: 0% 5% 1% 5%;
	padding-top: 4%;

}

.目標與理念-underline {
	border:0;
    margin:0;
    width: 50%;
    height: 2px;
    background: #ddd;
    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 0.5);
}

.目標與理念排 {
	padding-top: 4%;
	padding-left: 3%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #404040;
}

.目標與理念區 {
	background: #f2f2f2;
	padding: 1% 4.5% 1% 4.5%;
	margin: 1.6% 1%;
	font-family: Microsoft JhengHei;
	font-weight: 800;
	color: #595959;
}

.fab {
	font-size: 3.6rem;
	width: 100%;
}

.far {
	font-size: 3.5rem;
	width: 100%;
}


.fas {
	width: 20%;
	font-size: 3.4rem;
	padding-bottom: 5px;
}

.fa-users {
	width: 100%;
}

.fa-leaf {
	width: 100%;
}

.fa-gg {
	width: 100%;
}

.fa-handshake {
	width: 100%;
}

.fa-thumbs-up {
	width: 100%;
}


.fa-people-carry {
	width: 100%;
}

.fa-hand-holding-heart {
	width: 100%;
}

.fa-home {
	width: 100%;	
}


.footer-logo {
	margin-left: 1.5%;
}

.logo-size {
	width: 20%;
}

.main-footer {
	background-color: black;
}

.connectUs {
	color: #fff;
	font-family: Microsoft JhengHei;
	font-weight: 800;
	margin-left: 15%;
	font-size: 1.5rem;
}

.socialmediaIcon {
	margin-left: 15%;
	margin-top: 7%;
	margin-bottom: 7%;
}

.fa-facebook {
	width: 12%;
	display: inline-block;
	color: #ddd
}

.fa-instagram {
	width: 12%;
	display: inline-block;
	color: #ddd;
}

.fa-youtube {
	width: 12%;
	display: inline-block;
	color: #ddd;
}

.navigation {
	list-style-type: none;
	color: #fff;
	font-family: Microsoft JhengHei;
	font-weight: 500;
}

.menu-wrapper {
	font-size: 1.3rem;
}

a.navigationContent {
	color: #fff;
}

a.navigationContent:hover {
	color: #bfbfbf;
}

.constructionSite {
	list-style-type: none;
	color: #fff;
	font-family: Microsoft JhengHei;	
	font-weight: 800;
}

.siteAddress {
	font-size: 0.8rem;
	color: #ddd;
	font-family: Microsoft JhengHei;
}

.officeHour {
	list-style-type: none;
	color: #fff;
	font-family: Microsoft JhengHei;	
	font-weight: 800;
}

.time {
	font-size: 0.8rem;
	color: #ddd;
	font-family: Microsoft JhengHei;
}

.phoneNumber {
	list-style-type: none;
	color: #fff;
	font-family: Microsoft JhengHei;	
	font-weight: 800;
}

.number {
	font-size: 0.8rem;
	color: #ddd;
	font-family: Microsoft JhengHei;
}

.footer-underline {
    height: 5px;
    border: 0;
    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
}

.copyright {
	color: #fff;
	font-size: 1rem;
}

}


@media screen and (min-width: 768px) {
.目標與理念區:hover {
	background: #000066;
	color: #fff;
	border: 1px solid #000066;
	transition: 0.8s ease-in-out;
	transform: scale(1.05); 
}
}

@media (min-width: 768px) and (max-width: 992px){
	* {
		font-size: 1rem;
	}

	
	.banner-image {
		height: calc(100vh - 510px);
		width: 100%;
	}


	#content {
		padding-left: 5px;
	}

	#h4 {
		padding-left: 0px;
/*		padding-top: 10px;*/
	}

	.item:not(#首璽) {
		opacity: 0.9;
		width: 50%;
		height: calc(70vh);	
	}

	#首璽 {
		opacity: 0.9;
		width: 100%;
		height: calc(70vh);	
	}

	.s_intro {
		display: none;
	}

	.myStory {
		font-size: 0.7rem;
	}

	.整體目標與理念 {
		height: 500px !important;
	}

	.目標與理念排 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.col-5 {
		font-size: 1.3rem;
	}

	.banner {
		height: calc(50vh);
	}

	.section2 {
		height: 2150px;
	}

	/*.nav-item {
		background-color: #f2f2f2;
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar-nav .nav-link{
		font-family: Microsoft JhengHei;
		font-weight: 700;
		padding-left: 5px;
	}*/

	.fa-building {
		width: 10%;
		padding-right: 15px;
	}

	.fa-phone {
		width: 10%;
		padding-right: 15px;
	}

	.tableBar {
		margin-top: 10px;
	} 

	.leftBar {
		padding: 3px 5px;
	}

	.rightBar {
		padding: 3px 5px;
	}

	.footer-logo {
		margin-left: 2%;
	}	

	.logo-size {
		width: 30%;
	}

	.main-footer {
		background-color: black;
	}

	.menu-wrapper {
		font-family: Microsoft JhengHei;
	}

	.connectUs {
		color: #fff;
		font-weight: 800;
		margin-left: 0%;
		width: 100%;
	}

	.socialmediaIcon {
		margin-left: 2%;
		margin-top: 4%;
		width: 100%;
	}

	.fa-facebook {
		width: 25%;
		display: inline-block;
		color: #ddd
	}

	.fa-instagram {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	.fa-youtube {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	div.col-sm-4.col-md-3 {
		width: 30%;
		padding-right: 0;
		padding-left: 8%;
	}

	ul.navigation {
		padding: 0px
	}

	a.navigationContent {
		font-size: 1.2rem;

	}

	ul.constructionSite {
		list-style-type: none;
		color: #fff;	
		font-weight: 800;
		padding: 0;
	}

	li.siteName {
		font-size: 1.1rem;
	}

	li.siteAddress {
		font-size: 0.7rem;
		color: #ddd;
	}

	ul.officeHour {
		padding-left: 0%;
		display: inline-block;
	}

	li.openTime {
		font-size: 1.1rem;
	}

	li.time {
		font-size: 0.65rem;
	}

	ul.phoneNumber {
		padding-left: 0%;
		width: 32%;
	}

	li.siteNumber {
		width: 100px;
		font-size: 1rem;
		padding-left: 0%;
	}


	li.number {
		font-size: 0.8rem;
		color: #ddd;
	}

	.footer-underline {
	    height: 5px;
	    border: 0;
	    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
	}

	.copyright {
		color: #fff;
		font-size: 0.8rem;
	}

	.col-md-3 {
		padding-left: 50px !important;
	}

	.toggleIcon {
		padding: 0%;
		width: 15px;
	}

}



/*--------------------------------------------------*/

@media screen and (device-width: 414px), screen and (device-height: 736px) {
	* {
		font-size: 0.8rem;
	}

	.banner-image {
		height: calc(100vh - 367px);
		width: 100%;
	}

	#content {
		padding-left: 5px;
	}

	#h4 {
		padding-left: 0px;

	}

	.item:not(#首璽) {
		opacity: 0.9;
		width: 50%;
		height: calc(50vh);	
	}

	#首璽 {
		opacity: 0.9;
		width: 100%;
		height: calc(50vh);	
	}

	.s_intro {
		display: none;
	}

	.myStory {
		font-size: 0.7rem;
	}

	.整體目標與理念 {
		height: 480px !important;
	}

	.目標與理念排 {
		padding-top: 25px;
		padding-bottom: 30px;
	}

	.col-5 {
		font-size: 1.3rem;
	}

	.banner {
		height: calc(50vh);
	}

	.section2 {
		height: 1105px;
	}

	.nav-item {
		background-color: #f2f2f2;
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar-nav .nav-link{
		font-family: Microsoft JhengHei;
		font-weight: 700;
		padding-left: 5px;
	}

	.fa-building {
		width: 10%;
		padding-right: 15px;
	}

	.fa-phone {
		width: 10%;
		padding-right: 15px;
	}

	.tableBar {
		margin-top: 10px;
	} 

	.leftBar {
		padding: 3px 5px;
	}

	.rightBar {
		padding: 3px 5px;
	}

	.footer-logo {
		margin-left: 2%;
	}	

	.logo-size {
		width: 30%;
	}

	.main-footer {
		background-color: black;
	}

	.menu-wrapper {
		font-family: Microsoft JhengHei;
	}

	.connectUs {
		color: #fff;
		font-weight: 800;
		margin-left: 0%;
		width: 100%;
	}

	.socialmediaIcon {
		margin-left: 2%;
		margin-top: 4%;
		width: 100%;
	}

	.fa-facebook {
		width: 25%;
		display: inline-block;
		color: #ddd
	}

	.fa-instagram {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	.fa-youtube {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	div.col-sm-4.col-md-3 {
		width: 30%;
		padding-right: 0;
		padding-left: 8%;
	}

	ul.navigation {
		padding: 0;
	}

	a.navigationContent {
		font-size: 1.2rem;

	}

	ul.constructionSite {
		list-style-type: none;
		color: #fff;	
		font-weight: 800;
		padding: 0;
	}

	li.siteName {
		font-size: 1.1rem;
	}

	li.siteAddress {
		font-size: 0.7rem;
		color: #ddd;
	}

	ul.officeHour {
		padding-left: 0%;
		display: inline-block;
	}

	li.openTime {
		font-size: 1.1rem;
	}

	li.time {
		font-size: 0.65rem;
	}

	ul.phoneNumber {
		display: inline-block;
		padding-left: 8%;
		width: 32%;
	}

	.officeContent {
		width: 100% !important;
	}


	li.siteNumber {
		font-size: 1rem;
		padding-left: 1%;
	}


	li.number {
		font-size: 0.8rem;
		color: #ddd;
	}

	.footer-underline {
	    height: 5px;
	    border: 0;
	    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
	}

	.copyright {
		color: #fff;
		font-size: 0.8rem;
	}


	.toggleIcon {
		padding: 0%;
		width: 15px;
	}

}


/*-----------------------------------------------------*/

@media screen and (device-width: 375px), screen and (device-height: 812px) {
	* {
		font-size: 0.8rem;
	}

	.banner-image {
		height: calc(100vh - 405px);
		width: 100%;
	}
	#content {
		padding-left: 5px;
	}

	#h4 {
		padding-left: 0px;

	}

	.item:not(#首璽) {
		opacity: 0.9;
		width: 50%;
		height: calc(50vh);	
	}

	#首璽 {
		opacity: 0.9;
		width: 100%;
		height: calc(50vh);	
	}

	.s_intro {
		display: none;
	}

	.myStory {
		font-size: 0.7rem;
	}

	.整體目標與理念 {
		height: 450px !important;
	}

	.col-5 {
		font-size: 1.3rem;
	}

	.banner {
		height: calc(50vh);
	}

	.section2 {
		height: 1220px;
	}

	.nav-item {
		background-color: #f2f2f2;
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar-nav .nav-link{
		font-family: Microsoft JhengHei;
		font-weight: 700;
		padding-left: 5px;
	}

	.fa-building {
		width: 10%;
		padding-right: 15px;
	}

	.fa-phone {
		width: 10%;
		padding-right: 15px;
	}

	.tableBar {
		margin-top: 10px;
	} 

	.leftBar {
		padding: 3px 5px;
	}

	.rightBar {
		padding: 3px 5px;
	}

	.footer-logo {
		margin-left: 2%;
	}	

	.logo-size {
		width: 30%;
	}

	.main-footer {
		background-color: black;
	}

	.menu-wrapper {
		font-family: Microsoft JhengHei;
	}

	.connectUs {
		color: #fff;
		font-weight: 800;
		margin-left: 0%;
		width: 100%;
	}

	.socialmediaIcon {
		margin-left: 2%;
		margin-top: 4%;
		width: 100%;
	}

	.fa-facebook {
		width: 25%;
		display: inline-block;
		color: #ddd
	}

	.fa-instagram {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	.fa-youtube {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	div.col-sm-4.col-md-3 {
		width: 30%;
		padding-right: 0;
		padding-left: 8%;
	}

	ul.navigation {
		padding: 0;
	}

	a.navigationContent {
		font-size: 1.2rem;

	}

	ul.constructionSite {
		list-style-type: none;
		color: #fff;	
		font-weight: 800;
		padding: 0;
	}

	li.siteName {
		font-size: 1.1rem;
	}

	li.siteAddress {
		font-size: 0.7rem;
		color: #ddd;
	}

	ul.officeHour {
		padding-left: 0%;
		display: inline-block;
	}

	li.openTime {
		font-size: 1.1rem;
	}

	li.time {
		font-size: 0.65rem;
	}

	ul.phoneNumber {
		display: inline-block;
		padding-left: 8%;
		width: 32%;
	}

	.officeContent {
		width: 100% !important;
	}


	li.siteNumber {
		font-size: 1rem;
		padding-left: 1%;
	}


	li.number {
		font-size: 0.8rem;
		color: #ddd;
	}

	.footer-underline {
	    height: 5px;
	    border: 0;
	    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
	}

	.copyright {
		color: #fff;
		font-size: 0.8rem;
	}


	.toggleIcon {
		padding: 0%;
		width: 15px;
	}

}

/*---------------------------------------------------*/

@media screen and (device-width: 376px), screen and (device-height: 667px) {
	* {
		font-size: 0.8rem;
	}

	.banner-image {
		height: calc(100vh - 333px);
		width: 100%;
	}

	#content {
		padding-left: 5px;
	}

	#h4 {
		padding-left: 0px;

	}

	.item:not(#首璽) {
		opacity: 0.9;
		width: 50%;
		height: calc(50vh);	
	}

	#首璽 {
		opacity: 0.9;
		width: 100%;
		height: calc(50vh);	
	}

	.s_intro {
		display: none;
	}

	.myStory {
		font-size: 0.7rem;
	}

	.整體目標與理念 {
		height: 450px !important;
	}

	.col-5 {
		font-size: 1.3rem;
	}

	.banner {
		height: calc(50vh);
	}

	.section2 {
		height: 1002px;
	}

	/*.nav-item {
		background-color: #f2f2f2;
	}

	.navbar-brand {
		padding: 0;
	}

	.navbar-nav .nav-link{
		font-family: Microsoft JhengHei;
		font-weight: 700;
		padding-left: 5px;
	}*/

	.fa-building {
		width: 10%;
		padding-right: 15px;
	}

	.fa-phone {
		width: 10%;
		padding-right: 15px;
	}

	.tableBar {
		margin-top: 10px;
	} 

	.leftBar {
		padding: 3px 5px;
	}

	.rightBar {
		padding: 3px 5px;
	}

	.footer-logo {
		margin-left: 2%;
	}	

	.logo-size {
		width: 30%;
	}

	.main-footer {
		background-color: black;
	}

	.menu-wrapper {
		font-family: Microsoft JhengHei;
	}

	.connectUs {
		color: #fff;
		font-weight: 800;
		margin-left: 0%;
		width: 100%;
	}

	.socialmediaIcon {
		margin-left: 2%;
		margin-top: 4%;
		width: 100%;
	}

	.fa-facebook {
		width: 25%;
		display: inline-block;
		color: #ddd
	}

	.fa-instagram {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	.fa-youtube {
		width: 25%;
		display: inline-block;
		color: #ddd;
	}

	div.col-sm-4.col-md-3 {
		width: 30%;
		padding-right: 0;
		padding-left: 8%;
	}

	ul.navigation {
		padding: 0;
	}

	a.navigationContent {
		font-size: 1.2rem;

	}

	ul.constructionSite {
		list-style-type: none;
		color: #fff;	
		font-weight: 800;
		padding: 0;
	}

	li.siteName {
		font-size: 1.1rem;
	}

	li.siteAddress {
		font-size: 0.7rem;
		color: #ddd;
	}

	ul.officeHour {
		padding-left: 0%;
		display: inline-block;
	}

	li.openTime {
		font-size: 1.1rem;
	}

	li.time {
		font-size: 0.65rem;
	}

	ul.phoneNumber {
		display: inline-block;
		padding-left: 8%;
		width: 32%;
	}

	.officeContent {
		width: 100% !important;
	}


	li.siteNumber {
		font-size: 1rem;
		padding-left: 1%;
	}


	li.number {
		font-size: 0.8rem;
		color: #ddd;
	}

	.footer-underline {
	    height: 5px;
	    border: 0;
	    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 2);
	}

	.copyright {
		color: #fff;
		font-size: 0.8rem;
	}


	.toggleIcon {
		padding: 0%;
		width: 15px;
	}

}
