.關於-banner {
	background-image: url('臻園外觀-2.JPG');
	height: calc(100vh);
	background-size: cover;
	background-position: 0% 100%;
	background-attachment: fixed;
}


.關於馥都標題 {
	position: absolute;
	z-index: 1;
	font-family: Microsoft JhengHei;
	font-size: 3.7rem;
	font-weight: 800;
	color: #fff;
	margin-top: 370px;
	text-shadow: 0px 2px 3px #eee;
	padding: 10px 100px;
	background-color: rgba(89,89,89,0.7);
}

.馥都建設logo {
	width: 300px;
	margin-top: 20px;
}

.馥都飯店logo {
	width: 280px;
	margin-top: 15px;
}

.馥都建設內容 {
	height: 390px;
}

.馥都飯店內容 {
	height: 450px;
}


.area-underline {
	border:0;
    width: 50%;
    height: 2.5px;
    margin-top: 1%;
    background: #333333;
    box-shadow: inset 0 10px 10px -10px rgba(500, 500, 500, 0.5);
}

.companyName {
	font-family: Microsoft JhengHei;
	font-size: 1.5rem;
	font-weight: 800;
}

.companyDescription {
	font-family: Microsoft JhengHei;
	font-size: 1.2rem;
	font-weight: 500;
	padding-left: 50px;
	padding-top: 20px;
}

.companyDescription2 {
	font-family: Microsoft JhengHei;
	font-size: 1.2rem;
	font-weight: 500;
	padding-left: 50px;
	letter-spacing: 2px;
}

.關於馥都-bg {
	background-image: url('關於馥都-bg.png');
	height: 170px;
	background-size: cover;
	background-position: 20% 0%;
	background-attachment: fixed;
}

.關於馥都-end {
	background-color: #fff;
	height: 350px;
}
